/Desktop/Java Application/Final Java/JavaApplication19/nbproject/private/
/Desktop/Java Application/Final Java/JavaApplication19/build/
/Desktop/Mete SC/DS.BackendBase.sln
/Desktop/Mete SC/DS.BackendBase.sln
